.adminStyle{
    text-align: right;
}
/*.btn {
  width: 97%;
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
}
.btn:hover {
  color: var(--clr-white);
  background:  hsl(205, 72%, 37%);
}*/
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2024. jan. 14., 16:40:53
    Author     : ADAM
*/

